html {
  background-color: #bbdeff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #dbeeff;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-family: "Courier New", Courier, monospace;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  background-color: #bbdeff;
}

a.btn.btn-primary {
  margin: 0px 0px 0px 0px;
}
